.vscode/**
node_modules/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/public/**
webview-ui/*.ts
webview-ui/*.json
webview-ui/*.config.*
**/*.map
.gitignore
tsconfig.json
esbuild.js
